@import "reset-css";

/* Global Variable */

/* Color */
$color-white: #fff;
$color-black: #000;

/* Font size */
$font-large: 48px;
$font-medium: 28px;
$font-regular: 18px;
$font-small: 14px;
$font-micro: 12px;

/* Font weight */
// $weight-bold: 700;
$weight-semi: 600;
$weight-regular: 400;

/* Size */
$size-largeSpace: 48px;
$size-mediumSpace: 28px;
$size-basicSpace: 18px;
$size-smallSpace: 6px;
$size-microSpace: 4px;

/* Universal Tags */
a {
  color: $color-black;
  text-decoration: none;
}

/* News Feed */
.newsFeed {
  padding: $size-mediumSpace;
  &__title {
    font-size: $font-large;
    font-weight: $weight-semi;
    margin-bottom: $size-largeSpace;
  }
  &__navigator {
    font-size: $font-medium;
    margin-bottom: $size-basicSpace;
    &__prev {
    }
    &__next {
    }
  }
  &__list {
    &__item {
      margin-bottom: $size-smallSpace;
    }
  }
}

/* News Content */
.newsContent {
  padding: $size-mediumSpace;
  &__title {
    font-size: $font-medium;
    font-weight: $weight-semi;
    margin-bottom: $size-largeSpace;
  }
  &__toList {
    font-size: $font-regular;
    margin-bottom: $size-basicSpace;
  }
}
